<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${personas}">
					<td>${persona.id}"</td>
					<td>${persona.nombre}</td>
					<td>
					<a href="">Editar</a>
					<a href="">Eliminar</a>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>